.App {
  /* text-align: center; */
  /* background-color: #005F60; */
  background-image: url("../src/Components/images/texture-wallpaper-20070911383231.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  /* align-content: center; */
  justify-content: center;
}

.accentColor {
  background-color: #ff00c3 !important;
}

.button {
  background-color: #ff00c3 !important;
  border-radius: 20px !important;
  color: whitesmoke !important;
  font-size: 19px;
  padding: 5px 16px;
}

.button:hover {
  background-color: royalblue !important;
}

.content {
  background-color: #3c3559;
  border-radius: 10px;
  color: whitesmoke;
  height: 80%;
  margin: 5%;
  opacity: 60%;
  overflow: hidden;
  padding: 3%;
  text-align: center;
  width: 70%;
}

.formInput {
  border-radius: 20px !important;
  width: 90% !important;
  margin-left: 5px;
}

.formInput:focus {
  border: 3px solid #ff00c3 !important;
}

.konan {
  float: right;
  /* height: 97.4px; */
  height: 30%;
  /* width: 51.25px; */
  width: 30%;
  margin-top: -40px;
}

.logo {
  float: left;
  height: 50px;
  width: 50px;
}

.themeColor {
  color: #001236 !important;
}
